* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    & .global {
        border: 2px solid black;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        min-width: 150px;
        display: flex;
    }
}



